<div class="navbar navbar-expand-sm navbar-light navbar-sing">
  <%= link_to songs_path, class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/dzxrdf9za/image/upload/v1588899994/Chante/poule.png" %>
    <%= image_tag "https://res.cloudinary.com/dzxrdf9za/image/upload/v1588900356/Chante/poule_blanche.png" %>
    <%= image_tag "https://res.cloudinary.com/dzxrdf9za/image/upload/v1588900356/Chante/poule_rouge.png" %>
  <% end %>

   <!-- Dropdown appearing on mobile only -->
  <button id="burger-menu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>

  </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Todas as músicas", songs_path, class: "nav-link red" %>
          </li>
          <li class="nav-item dropdown">
            <%= link_to "Por nivéis", "#", class: "nav-link dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <% @levels = Level.all %>
              <% @levels.each do |level|  %>
                <%= link_to level.name, songs_path(:level => level), class: "dropdown-item" %>
              <%end %>
              </div>
          </li>
          <li class="nav-item dropdown">
            <%= link_to "Por estilo", "#", class: "nav-link red dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <% @styles = Style.all %>
              <% @styles.each do |style|  %>
                <%= link_to style.name, songs_path(:style => style), class: "dropdown-item" %>
              <%end %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>



</div>
