<div class="container">


  <div class="row center;">
      <h2><%= @song.title %>  - <%= @song.artist.name %>  </h2>
  </div>
  <div class="row spaceb">
      <h6>Nível: <%= @song.level.name %>  </h6>
      <h6>Estilo: <%= @song.style.name %>  </h6>
  </div>
  <div class="row center">
    <%= youtube_video ("http://www.youtube.com/embed/#{@song.link_ytb.last(11)}")  %>
   </div>

  <div class="row center">
    <h2>Letras:</h2>
  </div>

  <div class="row center">
    <p><%= @song.lyrics.html_safe %>  </p>
  </div>
</div>
