<div class="container">

<div class="row">

        <h2><%= @song.title %>  - <%= @song.artist.name %>  </h2>

        <h2><%= @song.level.name %>  </h2>
<br>
        <h2><%= @song.style.name %>  </h2>
<br>
</div>
      <%= youtube_video ("http://www.youtube.com/embed/#{@song.link_ytb.last(11)}")  %>

 <br>
    <h2>Letras:</h2>
    <p><%= @song.lyrics %>  </p>
  </div>
</div>
